name: build

on:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build cmake g++

      - name: Bootstrap vcpkg
        run: |
          ./external/vcpkg/bootstrap-vcpkg.sh
          ./external/vcpkg/vcpkg install

      - name: Configure
        run: cmake --preset debug

      - name: Build
        run: cmake --build --preset debug

  mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install deps
        run: |
          brew update
          brew install cmake ninja

      - name: Bootstrap vcpkg
        run: |
          ./external/vcpkg/bootstrap-vcpkg.sh
          ./external/vcpkg/vcpkg install

      - name: Configure
        run: cmake --preset debug

      - name: Build
        run: cmake --build --preset debug
